@charset "UTF-8";

:root{
    --color-main: #27B940;
}

.conteudo-presell{
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 15px;
}

.titulos{
    text-align: center;
    position: relative;
    border-bottom: 13px solid rgb(165, 165, 165);
    margin: 40px 0 20px 0;
}

.titulos::before{
    content: '';
    position: absolute;
    bottom: -13px;
    left: 0;
    width: 70%;
    height: 13px;
    background: var(--color-main);
}

.titulos::after{
    content: '70%';
    font-weight: bolder;
    position: absolute;
    bottom: -18px;
    right: 2px;
    color: #FFF;
    font-size: .9em;
}

.titulos p{
    color: rgb(104, 104, 104);
    font-size: 1.1em;
    margin: 10px 0 40px 0;
}

.titulos h1{
    font-size: 1.6em;
    font-weight: 600;
    max-width: 700px;
    margin: auto;
    margin-bottom: 20px;
}

.titulos h2{
    font-size: 1.3em;
    font-weight: 600;
    max-width: 700px;
    margin: auto;
    margin-bottom: 40px;
    color: rgb(86, 86, 86);
}

.titulos span{
    font-weight: bolder;
    font-size: 1em;
    text-align: left;
    display: block;
    color: rgb(104, 104, 104);
}

.card-desc{
    width: 100%;
    max-width: 800px;
    margin: 40px auto;
    display: flex;
    vertical-align: middle;
}

.card-desc .card{
    width: 50%;
    padding: 20px;
}

.card-desc .card img{
    width: 100%;
}

.card-desc .desc-btn{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-desc .desc-btn .desc p{
    font-size: 1.3em;
    color: rgb(95, 95, 95);
}

.card-desc .desc-btn .btn-presell{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 15px 0;
    border-top: 1px solid rgb(210, 210, 210);
}

.btn-presell  .link-btn{
    color: #FFF;
    font-size: 1.6em;
    background: var(--color-main);
    padding: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all .4s;
    border: 1px solid var(--color-main);
    text-align: center;
}

.btn-presell  .link-btn:hover{
    background: #FFF;
    color: var(--color-main);
}

.text{
    text-align: center;
    color: rgb(95, 95, 95);
    font-size: 1.3em;
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
}

.list-desc ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.list-desc ul li{
    padding: 15px;
    width: 100%;
    max-width: 300px;
    background: rgb(245, 245, 245);
    border-radius: 5px;
    border: 1px solid #27b93f64;
    margin: 10px;
    color: rgb(86, 86, 86);
    display: flex;
    align-items: center;
    font-size: 1.1em;
}

.list-desc ul li i{
    color: var(--color-main);
    margin-right: 5px;
}

.btn-bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}

.link{
    text-align: center;
    margin: 20px;
}

.link a{
    font-size: 1.3em;
    font-weight: bolder;
    color: var(--color-main);
    text-transform: uppercase;
}

/* Formulário */
.formulario-presell{
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #27b93f83;
    padding: 15px;
}

.formulario-presell h4{
    color: rgb(86, 86, 86);
    font-size: 1.2em;
    text-align: center;
    font-weight: bolder;
}

.formulario-presell .inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario-presell .input{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario-presell .input input{
    border: none;
    padding: 12px 5px;
    border-radius: 0;
    border-bottom: 2px solid var(--color-main);
    margin: 15px 0;
    caret-color: var(--color-main);
    color: rgb(99, 98, 98);
}

.formulario-presell .input input:focus{
    outline: none;
    box-shadow: 0px 0px 10px #27b93f83;
}

.formulario-presell .input label{
    position: absolute;
    left: 3px;
    color: var(--color-main);
    font-weight: bolder;
    font-size: 1.2em;
    transition: all .4s ease-in-out;
}

.formulario-presell .input input:focus ~ label,
.formulario-presell .input input:valid:not(.telefone) ~ label{
    transform: translateY(-32px);
    font-size: 1em;
}

.formulario-presell .input .input-form{
    cursor: pointer;
    border-radius: 4px;
    background: var(--color-main);
    color: #FFF;
    font-size: 1.2em;
    font-weight: bolder;
    border: 1px solid var(--color-main);
    transition: all .4s;
    height: auto;
    padding: auto;
}

.formulario-presell .input .input-form:hover{
    background: #FFF !important;
    color: var(--color-main);
}

.formulario-presell .input .error{
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0px;
    color: rgb(255, 0, 0);
    font-weight: bolder;
    font-size: .8em;
    text-align: right;
}

.invalid{
    animation: mostrarErro .4s ease-in-out forwards;
}

/* Box de loading */
.loading{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #FFF;
}

.loading-flex{
    display: flex;
}

.loading > div{
    width: 60px;
    height: 60px;
    border: 3px solid var(--color-main);
    border-radius: 50%;
    border-bottom: 3px solid #FFF;
    animation: loading .7s linear infinite;
}

.ocultar-botao{
    display: none !important;
}

@media only screen and (max-width: 700px){
    .card-desc{
        flex-direction: column;
    }
    .card-desc .card,
    .card-desc .desc-btn{
        width: 100%;
    }
    .card-desc .desc-btn{
        margin-top: 40px;
    }
    .desc{
        margin-bottom: 20px;
    }
    .list-desc ul li{
        max-width: 400px;
    }
    .card-desc .desc-btn .btn-presell{
        justify-content: center;
    }
}

@media only screen and (max-width: 450px){
    .btn-presell .link-btn{
        width: 100%;
    }
}

@keyframes mostrarErro {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes loading {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}